$anton: 'Anton', sans-serif;
$oswald: 'Oswald', sans-serif;
$poppins: 'Poppins', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $poppins;
    color: rgb(179, 176, 176);
}

::-webkit-scrollbar {
    width: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #02021b;
    overflow: hidden;
}

header {
    padding: 20px 0 10px 0;
    width: 100%;
    h1 {
        font-family: $oswald;
        text-align: center;
    }
}

main {
    font-size: 14px;
    max-width: 950px;
    padding: 30px;
    width: 100%;
    background: #000;
    border-radius: 10px;
    .space {
        height: 110px;
        width: 100%;
        // background: yellow;
    }
    h3 {
        padding: 10px 0 10px 0;
    }
    p{
        padding: 5px 0px;
    }
    P:empty {
        padding: 0;
        display: block;
        width: 100%;
        height: 50px;
    }

    aside {
        height: 500px;
        overflow: hidden;
        overflow-y: visible;
        transition: 0.3s all linear;
        scroll-behavior: smooth;
    }
}
footer {
    border: none;
    // border-top: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-left: 0;
    gap: 10px;
    margin-top: 20px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

footer a {
    display: block;
    width: 120px;
    height: 40px;
    background: rgb(3, 65, 77);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);

    &.down, &#up {
        width: 50px;
        background: red;
    }

    &#up {
        background: black;
        color: white;
        box-shadow: 0 0 20px #222222;
    }
}
h3 a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

h3 {
    display: flex;
}

@media only screen and (max-width: 500px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
    main {
        width: 100%;
        padding: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    main footer {
        bottom: 10px;
        padding: 5px;
    }
}